{% extends "posts/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/user_detail_style.css" %}">
{% endblock %}

{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <section id="user">
        <div class="container">
            <div class="user-profile">
                {% if user.profile.image %}
                  <img src="{{ user.profile.image_url }}" alt="person" width="150" height="150">
                {% endif %}
                <div class="user-description">
                    <h1>{{ user.username }}</h1>
                    <h4>{{ user.profile.location }}</h4>
                    <h5>Posts: {{ user.profile.get_posts_count }}</h5>
                    <p>{{ user.profile.bio }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="user-posts">
        <div class="container">
            <div class="posts">
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}">
                          <img src="{{ post.image_url }}" width="300" height="300" alt="image">
                    </a>
                {% empty %}
                    <h2>0 posts :(</h2>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}