:root{
    --navbar-background-color: #71c9c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    background: #a0dbd6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 2rem;
    overflow: hidden;
}

.btn {
    display: inline-block;
    background: #71c9c1;
    color: #04302c;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: #0b635b;
}


/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    background: var(--navbar-background-color);
    top: 0;
    padding: 1rem;
    justify-content: space-between;
    z-index: 1;
}

#navbar i,
#navbar a{
    color: #04302c;
}

#navbar i {
    margin-right: 5px;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;

}

#navbar ul li a {
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #caebe8;
}

/* Smartphones */
/* @media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-bottom: 1px dotted #444;
    }

} */

/* Section: posts */

#post {
    padding: 1rem;
    margin: 1rem;
}

#post .post {
    border-radius: 5px;
    background: #b8e4e0;
    margin-bottom: 2rem;
}

#post .post .post-info {
    padding: 0.5rem 1.5rem;

}
#post .post .user-info img {
    border-radius: 100%;
}

#post .post .user-info {
    display: flex;
    align-items: center;
}

#post .post .user-info h2 {
    margin: 0 1rem;
}

#post-image {
    width: 100%;
    height: 100%;
}

/* Likes */
.post-info a {
    text-decoration: none;
    margin-right: 10px;
}
.post-info h5 {
    display: inline-block;
}
.likes {
    font-size: 1rem;
}

/* Taggs */
#post .post .taggs {
    padding: 1rem 0;
}

#post .post .taggs ul li  {
    display: inline-block;
}

#post .post .taggs ul li a{
    background: var(--navbar-background-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#post .post .taggs ul li a:hover{
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);;
}

/* Comments */
.comments {
    padding: 1rem 0;
}

.comments .comment {
    padding: 0.5rem 0;
    color: #04302c;
}

.comments .comment a {
    font-size: 1.25rem;
    color: #04302c;
}

#comment-form textarea {
    height: 60px;
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

#comment-form textarea:focus {
    outline: none;
    border-color: #b8e4e0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #04302c;
    background: #71c9c1;
}