{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post_list_style.css' %}">
    {% block stylesheet %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fada548c3.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav id="navbar">
        <h1 class="logo">
            <a href="{% url "posts:posts_list" %}"><i class="fas fa-camera-retro fa-2x"></i><span class="logo-text">Trip</span>App</a>
        </h1>
        <ul>
            <li><a class="current" href="{% url "posts:posts_list" %}">Posts</a></li>
            <li><a href="{% url "users:users_list" %}">People</a></li>
            <li><a href="{% url "posts:tag_list" %}">Tags</a></li>
            <li><a href="{% url "posts:location_list" %}">Places</a></li>
            <li><a href="{% url "posts:create_post" %}">Create Post</a></li>
            <li><a href="{% url "users:user_detail" request.user.pk %}">My Posts</a></li>
            <li><a href="{% url "users:edit_user" request.user.pk %}">Profile</a></li>
            <li><a href="{% url "users:logout" %}"><i class="fas fa-sign-out-alt fa-1x"></i>Logout</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>TripApp &copy; 2020, All Rights Reserved</p>
    </footer>

    <script src="{% static "js/main.js" %}"></script>
</body>
</html>